/* styles/EfficiencyPage.css */
.efficiency-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 120px;
  }
  
  h1 {
    margin-top: 0px;
    font-family: 'Cafe24 Ssurround', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
  }
  